body{
  font-family: helvetica;
}

h1, p{
  text-align: center;
}

#message{

}

#gameArea{
  display: flex;
}

ul{
  list-style: none;
}

tabl
tr{
  height: 30px;
  width: 80px;
  padding: 0px;
}

td{
  height: 30px;
  width: 30px;
  padding: 0px;
  border: 1px solid black;
  border-spacing: 0;
}
