/* SASS code */
$main-width: 900px;
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}


body{
  background-image: url('images/background1.jpg');
  background-size: cover;
 /* width: 1000px;  /* Stops page from moving when screen size moved*/
}

main{
  width: $main-width;
  margin: 0 auto;
}

h1, p{
  text-align: center;
  margin: 2px;
}

h1{
  color: #000080;
  font-family: 'Bangers', cursive;
  font-size: 110px;
}

p{
  font-family: 'Finger Paint', cursive;
  font-size: 20px;
  color: #004C4D;
}

#message, .reset, .rulebutton{
  text-align: center;
}

#message, #gameArea{
  margin-top: 30px;
}

#message{
  font-family: 'Bangers';
  font-size: 30px;
  color: #B00027;
}

.playerName{
  font-family: 'Finger Paint';
}

#gameArea{
  display: flex;
}

/*Styles the Game Grids*/
table{
  border: 5px inset #00FF33;
  @include border-radius(5px);
}

tr{
  height: 30px;
  width: 80px;
  padding: 0px;
}

td{
  height: 30px;
  width: 30px;
  padding: 0px;
  border: 1px solid #00FF33;
  border-spacing: 0;
  cursor: crosshair;
}

td:hover{
  background-color: rgba(255, 255, 255, 0.5);
}

#wrapper-1{
  margin-left: 100px;
}

.player-container{
  width: 50%;
}

.playerName{
  color: white;
  font-size: 18px;
}


/* Ship List */
.ships{
  color: white;
  margin-right: 50px;
  color: gray;
}

.ships p{
  color: yellow;
  font-size: 14px;
}


/* New Game  & Rules Button */
.reset, .rulebutton {
  background-color: #599bb3;
  @include border-radius(15px)
  border: 2px solid #29528f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 14px;
  padding: 12px 21px;
  margin: 0px 390px;
  width: 80px;
}

.reset:hover, .rulebutton:hover{
  background-color: #1ba880;

}
.reset:active, .rulebutton:active {
  position: relative;
  top: 1px;
}

/*Rules Overlay Box*/
.overlay{
  display: none;
  background: transparent url('images/overlay.png') repeat top left;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

.rulebox{
  position: fixed;
  left: 30%;
  right: 30%;
  background-color: #fff;
  color: #7F7F7F;
  border: 2px solid #ccc;
  border-radius: 5px;
  z-index: 101;
}

a.ruleclose{
  float: right;
  width: 26px;
  height: 26px;
  background: url('images/cancel.png');
  margin-top: -30px;
  margin-right: -30px;
  cursor: pointer;
}

.rulebox h3{
  font-family: 'Finger Paint';
  border-bottom: 1px dashed #FFFFFF;
  border-radius: 10px;
  margin: -20px -20px 0px -20px;
  padding: 10px;
  background-color: #13B161;
  color: #FFFFFF;
}

.rulebox h5{
  font-family: 'Finger Paint';
  margin: 8px 0px 5px 0px;
}

.rulebox li{
  font-family: Trebuchet MS;
  font-size: 14px;
  color: #004C4D;
}
