body{
  background-image: url('images/background1.jpg');
  background-size: cover;
 /* width: 1000px;  /* Stops page from moving when screen size moved*/
}

main{
  width: 900px;
  margin: 0 auto;
}

h1, p{
  text-align: center;
  margin: 2px;
}

h1{
  color: #000080;
  font-family: 'Bangers', cursive;
  font-size: 110px;
}
p{
  font-family: 'Finger Paint', cursive;
  font-size: 20px;
  color: #004C4D;
}

#message, .reset, #rules{
  text-align: center;
}

#message, #gameArea{
  margin-top: 30px;
}

#message{
  font-family: 'Bangers';
  font-size: 30px;
  color: #B00027;
}

.playerName{
  font-family: 'Finger Paint';
}

#gameArea{
  display: flex;
}

/*Styles the Game Grids*/
table{
  border: 5px inset #00FF33;
  border-radius: 5px;
}
tr{
  height: 30px;
  width: 80px;
  padding: 0px;
}
td{
  height: 30px;
  width: 30px;
  padding: 0px;
  border: 1px solid #00FF33;
  border-spacing: 0;
  cursor: crosshair;
}

td:hover{
  background-color: rgba(255, 255, 255, 0.5);
}


#wrapper-1{
  margin-left: 100px;
}

.player-container{
  width: 50%;
}

.playerName{
  color: white;
  font-size: 18px;
}


/* Ship List */
.ships{
  color: white;
  margin-right: 50px;
  color: gray;
}
.ships p{
  color: yellow;
  font-size: 14px;
}


/* New Game Button */
.reset {
  background-color: #599bb3;
  border-radius: 15px;
  border: 2px solid #29528f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Trebuchet MS;
  font-size: 14px;
  padding: 12px 21px;
  margin: 0px 390px;
  width: 80px;
}
.reset:hover {
  background-color: #1ba880;
}
.reset:active {
  position: relative;
  top: 1px;
}

