body{
  background-image: url('images/background1.jpg');
  background-size: cover;
  font-family: helvetica;
 /* width: 1000px;  /* Stops page from moving when screen size moved*/
}

main{
  width: 900px;
  margin: 0 auto;
}

h1, p{
  text-align: center;
  margin: 2px;
}

h1{
  color: #000080;
  font-family: 'Bangers', cursive;
  font-size: 80px;
}
p{
  font-family: 'Finger Paint', cursive;
  font-size: 20px;
  color: #004C4D;
}

#message, .reset, #rules{
  text-align: center;
}

#message, #gameArea{
  margin-top: 30px;
}

#gameArea{
  display: flex;
}

/*Styles the Game Grids*/
tr{
  height: 30px;
  width: 80px;
  padding: 0px;
}
td{
  height: 30px;
  width: 30px;
  padding: 0px;
  border: 1px solid #00FF33;
  border-spacing: 0;
  cursor: crosshair;
}

td:hover{
  background-color: rgba(255, 255, 255, 0.5);
}


#wrapper-1{
  margin-left: 100px;
}

.player-container{
  width: 50%;
}

.playerName{
  color: white;
  font-size: 18px;
}


/* Style the ship lists */
.ships{
  color: white;
}

li{
  color: yellow;

}
ul{
  list-style: none;
}


